---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubelet-summary-api-read
  labels:
    app: splunk-kubernetes-metrics
    version: 1.1.0
rules:
- apiGroups:
  - ''
  resources:
  - nodes
  - nodes/stats
  - nodes/metrics
  verbs:
  - get
