---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-api-aggregator
  labels:
    app: splunk-kubernetes-metrics
    version: 1.3.0
rules:
- apiGroups:
  - ''
  resources:
  - nodes
  - nodes/stats
  - nodes/proxy
  - pods
  verbs:
  - get
  - list
