---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubelet-summary-api-read
  labels:
    app: splunk-kubernetes-metrics
    version: 1.4.12
rules:
- apiGroups:
  - policy
  resources:
  - podsecuritypolicies
  verbs:
  - use
  resourceNames:
  - splunk-kubernetes-metrics
- apiGroups:
  - ''
  resources:
  - nodes
  - nodes/stats
  - nodes/metrics
  verbs:
  - get
