---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: splunk-kubernetes-logging
  labels:
    app: splunk-kubernetes-logging
    version: 1.4.12
rules:
- apiGroups:
  - policy
  resources:
  - podsecuritypolicies
  verbs:
  - use
  resourceNames:
  - splunk-kubernetes-logging
- apiGroups:
  - ''
  resources:
  - namespaces
  - pods
  verbs:
  - list
  - get
  - watch
